# Django Settings
SECRET_KEY=your-secret-key-here 

# Database Settings
POSTGRES_DB=enf_db
POSTGRES_USER=enf_user
POSTGRES_PASSWORD=enf_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Stripe Settings
STRIPE_SECRET_KEY=your-stripe-secret-key-here
STRIPE_WEBHOOK_SECRET=your-stripe-webhook-secret-here